<app-form-container [formGroup]="form">
  <app-editable-label [parentFormControl]="formName"
                      [options]="{fontSize: '21px', height: '32px', color: '#000', borderBottomColor: '#e8e8e8'}"
                      style="margin-bottom: 25px">
  </app-editable-label>

  <div class="controls-container">
    <div *ngFor="let element of formElements.controls, let index = index"
         class="control-container"
         [style.width]="columnWidth">
      <app-editable-form-element [element]="element"
                                 (deleteElement)="deleteElement(index)">
      </app-editable-form-element>
    </div>

    <div class="control-container small">
      <button nz-button class="add-element-btn"
              nzShape="circle"
              nz-tooltip="Add new element"
              nzTooltipPlacement="right"
              (click)="addElement()">
        <i nz-icon
           nzType="plus-circle"
           nzTheme="twotone"
           nzTwotoneColor="#00cc66">
        </i>
      </button>
    </div>
  </div>

  <button nz-button
          class="final-action-btn"
          nzType="secondary"
          nzShape="round"
          [disabled]="form.invalid"
          (click)="showFormPreviewClick.emit(form.value)">
    <i nz-icon nzType="eye"></i> Show form preview
  </button>

  <button nz-button
          class="final-action-btn save-btn"
          nzType="primary"
          nzShape="round"
          [disabled]="form.invalid"
          (click)="save()">
    <i nz-icon nzType="save"></i> Save
  </button>
</app-form-container>

<app-settings-drawer>
  <div class="option-label">Number of columns</div>
  <nz-input-number [formControl]="columnsNum" [nzMin]="1" [nzMax]="5"></nz-input-number>
</app-settings-drawer>
