@import '../../styles/global/_colors.less';

.form-name.editable {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-radius: 0;
  padding: 4px 0;

  &:focus {
    box-shadow: unset !important;

    + .input-underline {
      .animated();
      position: absolute;
      top: 30px;
      height: 2px;
      width: 100%;
      background-color: @blueviolet;
    }
  }
}

.form-editor-input {
  position: relative;
}

.animated {
  animation-name: grow;
  animation-duration: .2s;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

