<nz-select class="element-type-select"
           [formControl]="type"
           nz-tooltip="Change type"
           nzDropdownClassName="select-type"
           [nzDropdownStyle]="{width: '130px', marginLeft: '-93px'}"
           [nzCustomTemplate]="selectTmp">
  <nz-option *ngFor="let option of options"
             nzCustomContent [nzValue]="option.value">
    <div class="option-icon-container">
      <i nz-icon class="option-icon"
         [nzType]="option.value">
      </i>
    </div>{{option.label}}
  </nz-option>
</nz-select>

<ng-template #selectTmp>
  <i nz-icon class="select-icon"
     [nzType]="type.value"></i>
</ng-template>
