@import '../../../styles/global/_colors.less';

.main-controls {
  display: flex;
  margin-bottom: 6px;
  font-size: 13.5px;

  .small-icon-btn {
    height: 20px;
    width: 20px;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid white;
    margin: 0 3px;
    border-radius: 50%;

    &:focus {
      font-size: 20px;
      border-width: 0;
      transition: .2s;
    }
  }

  .element-type-select {
    height: 20px;
    margin-left: 3px;
  }
}
