<app-form-container [formGroup]="formGroup">
  <div class="form-name">{{formStructure?.name}}</div>

  <div class="controls-container">
    <div *ngFor="let element of formStructure?.elements"
         class="control-container"
         [style.width]="columnWidth">
      <app-form-element [element]="element">
      </app-form-element>
    </div>
  </div>

  <ng-content select="[additionalActionBtn]"></ng-content>

  <button nz-button
          class="final-action-btn"
          nzType="primary"
          nzShape="round"
          [disabled]="formGroup.invalid"
          (click)="logForm()">
    Submit
  </button>
</app-form-container>
