@import '~app/styles/global/_colors.less';

.form-name {
  height: 32px;
  color: @black;
  font-size: 21px;
  margin-bottom: 25px;
  border-bottom: 1px solid @light-grey-2;
}

.final-action-btn {
  float: right;
  width: 120px;
}
