<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <img src="assets/img/forms.svg" alt="logo">
      <h1>Form Builder Demo</h1>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter title="Dashboard">
        <i nz-icon nzType="dashboard"></i>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li nz-submenu nzOpen nzTitle="Pre-Built Forms" nzIcon="form" title="Pre-Built Forms">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pre-built">Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
        <div class="icons-credit">
          Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
          from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
