<div style="margin: 8px 15px">
  <ng-container [ngSwitch]="element.type">
    <ng-container *ngSwitchCase="'input'">
      <div class="label">
        <span *ngIf="element.required" class="required-sign">*</span>
        {{element.label}}
      </div>
      <input nz-input
             [formControl]="element.formControl"
             [placeholder]="element.placeholder || ''">
    </ng-container>
    <ng-container *ngSwitchCase="'checkbox'">
      <label nz-checkbox
             class="label"
             [formControl]="element.formControl">
        {{element.label}}
      </label>
    </ng-container>
  </ng-container>
</div>
