<div [ngSwitch]="element.type">

  <ng-container *ngSwitchCase="'checkbox'">
    <app-checkbox-form-element [element]="element"></app-checkbox-form-element>
  </ng-container>

  <ng-container *ngSwitchCase="'long-text'">
    <ng-container *ngTemplateOutlet="label"></ng-container>
    <app-textarea-form-element [element]="element"></app-textarea-form-element>
  </ng-container>

  <ng-container *ngSwitchCase="'date'">
    <ng-container *ngTemplateOutlet="label"></ng-container>
    <app-date-form-element [element]="element"></app-date-form-element>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="label"></ng-container>
    <app-input-form-element [element]="element"></app-input-form-element>
  </ng-container>

</div>


<ng-template #label>
  <div class="label">
    {{element.label}}
    <span *ngIf="element.required" class="required-sign">*</span>
  </div>
</ng-template>
